:root {
  /* Primary colors */
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);

  /* Neutral colors */
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);

  --text-color: #757575;
}

@font-face {
  font-family: Inter;
  src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf) format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 12px;
  font-family: Inter, sans-serif;
  background-color: var(--off-white);
  max-width: 1200px;
  margin: 0 auto;
}

/* Utility classes */
.divider {
  border: none;
  border-top: 1px solid var(--text-color);
  margin: 2rem 0;
}

.black-bg {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
}

.orange-color {
  color: var(--soft-orange);
}

.soft-red-color {
  color: var(--soft-red);
}

.white-color {
  color: var(--off-white);
}

.text-color {
  color: var(--text-color);
}

.h1 {
  font-size: 3rem;
  font-weight: 700;
}

.h2 {
  font-size: 1.5rem;
  font-weight: 600;
}

.h3 {
  font-size: 1rem;
  font-weight: 500;
}

.padding-1 {
  padding: 0.25rem;
}
.padding-2 {
  padding: 1rem;
}
.padding-top {
  padding-top: 2rem;
}

p {
  font-size: 0.875rem;
  line-height: 1.5;
  margin: 0.5rem 0;
  color: var(--text-color);
}

img {
  /* display: block; */
  /* width: 100%; */
  height: auto;
}

/* Button */
.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: var(--soft-red);
  color: var(--off-white);
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-weight: 600;
}

/* Nav bar */
.header {
  display: flex;
  flex: row;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.action {
  display: flex;
  gap: 1rem;
  color: var(--text-color);
  border: none;
  background: none;
  cursor: pointer;
}

.action:hover {
  color: var(--soft-red);
}

.nav {
  display: flex;
  flex: row;
  gap: 1rem;
}

/* Grid layout */
.row {
  display: flex;
  flex: row;
  /* flex-wrap: wrap; */
  gap: 1rem;
}

.col-1 {
  flex: 1 1 100%;
}
.col-2 {
  flex: 1 1 48%;
}
.col-3 {
  flex: 1 1 30%;
}
.col-4 {
  flex: 1 1 22%;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
}

/* Card tickets */
.black-card {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 1rem;
}

.black-card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

/* Drawer */

/* Footer */
.attribution {
  text-align: center;
  padding: 5rem;
  font-size: 0.875rem;
  color: var(--grayish-blue);
}
